@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sacrament Meeting Planner</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Sacrament Meeting Planner</h2>
        <p>
            This tool is meant to streamline the process of planning for sacrament meetings.
        </p>
    </div>
</div>